<?xml version="1.0"?>
<launch>
    <arg name="des_x" />
    <arg name="des_y" />
    <param name="des_pos_x" value="$(arg des_x)" />
    <param name="des_pos_y" value="$(arg des_y)" />
    <node pkg="mobile_robot_navigation_project" type="wall_follow_service_m.py" name="wall_follower" output="screen" />
    <node pkg="mobile_robot_navigation_project" type="go_to_point_service_m2.py" name="go_to_point" output="screen" />
    <node pkg="mobile_robot_navigation_project" type="user_interface.py" name="user_interface" output="screen" />
    <node pkg="mobile_robot_navigation_project" type="bug_m2.py" name="bug" output="screen" />
</launch>

